<partial model="any">
    <footer id="f">
        <hr id="line">
        <div class="container">
            &copy; 2022 - Hair and Beauty Salon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
        <p id="u">
  <i class="fab fa-facebook-f"></i>&nbsp;&nbsp;
  <i class="fab fa-twitter"></i>&nbsp;&nbsp;
  <i class="fab fa-google-plus-g"></i>&nbsp;&nbsp;
  <i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;
</p>
</div>
    </footer >
</partial>