@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
    </head>
    

<body>
<h1>@ViewData["Title"]</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus tempore ea? Inventore, distinctio. Ipsam, exercitationem doloremque, consequatur quaerat autem at corporis ab consectetur, itaque veniam quis molestiae totam repellat!
  Impedit quod rerum unde voluptate odio illo hic sed, labore possimus eum commodi officia similique officiis dolore eligendi accusantium maiores facilis! Illum nihil odio tenetur? Cumque nihil natus saepe nisi.
  Quaerat dolor reiciendis unde accusamus fugit officia earum, alias obcaecati quis non ea labore? Consequatur ex sunt recusandae quas fugiat officiis quod temporibus facere, nesciunt in rem doloribus, vitae beatae!
  Quibusdam blanditiis quidem magnam ducimus recusandae? Laudantium ab nesciunt quia beatae, possimus est cupiditate. Magnam eaque minima quia libero? Non sunt enim repellat, fugiat pariatur magni ullam deserunt. Tenetur, totam?
  Ipsa, iusto debitis accusamus eligendi assumenda ab voluptatibus quia sequi atque numquam quos dolorem at error consequatur esse illum beatae est corporis veniam dicta earum sit quisquam! Culpa, minima debitis.
  Enim error eos distinctio. Quibusdam harum aliquam quisquam facilis voluptatem consequuntur iure est, debitis exercitationem nobis doloremque aut fugit itaque ipsam! Sunt voluptas ipsum ad nihil vel nobis quam eum!
  Ipsum ipsam ab accusantium facilis pariatur asperiores cum non similique fugit quisquam? Odit eum blanditiis rem repudiandae excepturi commodi accusamus molestiae ipsum, reprehenderit consectetur nostrum quae dignissimos incidunt modi illo!
  Molestias distinctio nulla totam.
</p>
</body></html>