<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/serum.css" asp-append-version="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    
        <body>
            <center>
            <div class="z">
            <div class="h">
        <div class="i">
          <div class="j">
              <p>Hair serum is a liquid-based treatment usually formulated using silicones that provide a protective layer over the hair fibre, assisting in smoothing frizz.</p>
              
                  1-OGX Renewing Morocco Argan Oil Penetrating Oil(100ml) Rs. 2000<br />
                  2-L'Oreal Professionnel X-Tenso Care Serum Rs. 2300<br />
                  3-Livon Hair Gain Tonic With Advanced Root Energisers Rs. 2500
              
            <img class ="k" src="~/serumguide.jpg"/>
            <center>
            <h3 class="l" >How to apply..</h3></center>
            
            <button class="bu">
                <a asp-controller="products" asp-action="products"> Back</a>
            </button>
            
        </div>
      </div>
      
          </div>
      </div>
      </center>
      <partial name="_par" />
            </body></html>