<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/shampoo.css" asp-append-version="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    
        <body>
            <center>
            <div class="z">
            <div class="h">
        <div class="i">
          <div class="j">
              <p>Shampoo is typically in the form of a viscous liquid with some exception of waterless solid form such as a bar.</p>
              
                  1-Mughziat Extra Nourishment Shampoo	Rs. 1000<br />
                  2-Amla Shampoo Rs. 900<br />
                  3-Tea Tree & Aloe Vera Shampoo Rs. 1500
              
            <img class ="k" src="~/shampguide.png"/>
            <center>
            <h3 class="l" >How to apply..</h3></center>
            
            <button class="bu">
                <a asp-controller="products" asp-action="products"> Back</a>
            </button>
            
        </div>
      </div>
      
          </div>
      </div>
      </center>
      <partial name="_par" />
            </body></html>