<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/skinc.css" asp-append-version="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    
        <body>
            <center>
            <div class="z">
            <div class="h">
        <div class="i">
          <div class="j">
              <p>Good skin care is important for your skin stay in good condition and Your skin will look more youthful</p>
              
                  1-ELF Hydrating Serum	Rs. 2,200<br />
                 2-ELF Illuminating Eye Cream Rs. 2,500<br />
                  3-Bioderma Sebium Gel Moussant 100Ml Rs. 1,900
              
            <img class ="k" src="~/skinguide.jpg"/>
            <center>
            <h3 class="l" >How to apply..</h3></center>
            
            <button class="bu">
                <a asp-controller="products" asp-action="products"> Back</a>
            </button>
            
        </div>
      </div>
      
          </div>
      </div>
      </center>
      <partial name="_par" />
            </body></html>