body {
    background-image: url("/contact.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#a {
    border-radius: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

.bb {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 10px;
}

.cc {
    margin: 0 -185px;
}


    .cc:after {
        content: "";
        display: table;
        clear: both;
    }

.dd {
    display: block;
    margin-top: 50px;
}
.e input[type=text], select, textarea {
    width: 100%;
    width: 660px;
    padding: 11px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 300px;
    resize: vertical;
}

.e input[type=submit] {
    background-color: white;
    border-color: black;
    padding: 12px 20px;
    margin-left: 470px;
    width: 400px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    border-color: lightgray;
    outline-style: solid;
    margin-bottom: 50px;
}

.k {
    background-image: url("bg2.jpg");
    background-size: cover;
    
}
#sbmt {
    width: 15%;
    border: 1px solid black;
    border-radius: 3px;
}

