
@{
   
    ViewData["Title"] = "Login";
}

@model  WebApplication2.Models.user
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    

<body>
    <h1>@ViewBag.Message</h1>
  
       <center>
                <h3 id="Login">Login</h3>
                <form method="post" action="/Login/Login">
                    <div asp-validation-summary="ModelOnly"></div>
                    
                <input asp-for="userName" class ="i" placeholder="Username" /><br />
                <span asp-validation-for="userName"></span>
                <input asp-for="password" class ="i" placeholder="Password" /><br />
                <span asp-validation-for="password"></span>
                <input type="submit" value="Login" class="submit1" />
                <a class="submit1" href="/SignUp/SignUp">Sign Up</a>
                </form>
           </center>
           <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
           <partial name="_par" />
</body>
</html>